// This needs substantial tidying

* {
  margin: 0.5rem;
  padding: 0.25rem;
  text-align: center;
}
:root {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  margin: 0rem;
  padding: 0rem;
}

html {
  height: 100%;
  margin: 0rem;
  padding: 0rem;
}

.graveyardtoHome {
  padding: 0.5rem;
  margin: 3rem 0rem 0rem 0rem;
  text-align: center;
  width: 100vw;
  border-radius: 0%;
}

.graveyardtoHome:hover {
  transform: scale(1.25, 1.25);
  border-radius: 0%;
}

.clouds {
  margin: 0rem;
  padding: 0rem;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 10000vw;
}

body {
  margin: 0;
  min-height: 100%;
  margin: 0rem;
  padding: 0rem;
  background-color: rgb(132, 206, 255);
}

h2 {
  text-align: center;
  color: white;
  width: 100vw;
  padding: 1.25rem;
  margin: 0rem 4rem 2rem 4rem;
  background-color: rgb(0, 169, 152);
}

.visitGraveyard {
  margin: 3rem 0rem 0rem 0rem;
  border: 0;
  width: 100vw;
  border-radius: 0%;
  color: white;
  padding: 0.5rem;
}

.visitGraveyard:hover {
  transform: scale(1.25, 1.25);
}

h3 {
  text-align: center;
  text-decoration: underline;
}

h4 {
  margin: 1.5rem 0rem 1rem 0rem;
  padding: 0rem;
  line-height: 1.5rem;
  // max-width: 10vw;
  // max-width: 100rem;
  // width: 10vw;
}

p.petList {
  text-align: center;
  margin: 1rem;
  padding: 0rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
  max-width: fit-content;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navBar {
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style: none;
  border: 0px solid;
  border-radius: 0.5rem;
  padding: 0rem;
  margin: 0rem;
}

.sortButton {
  border: 0;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  background-color: rgb(0, 169, 152);
}

.active {
  background-color: rgb(255, 43, 110);
}

.sortButton:hover {
  transform: scale(1.25, 1.25);
  padding: 0.75rem 0.5rem 0.75rem 0.75rem;
}

section {
  text-align: center;
  background-color: rgb(0, 169, 152);
  color: white;
}

p.petListName {
  margin: 1.5rem 2.5rem 1rem 2.5rem;
  // padding: 1.5rem 2.5rem 1rem 2.5rem;
}

li.petList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  margin: 1.5rem;
  padding: 0.5rem;
  width: 21rem;
  height: 26rem;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-width: 2rem;
  border-color: rgb(0, 169, 152);
  background-color: white;
  color: black;
}

button {
  display: flex;
  justify-content: center;
  border: 0;
  margin: 0.75rem;
  width: fit-content;
  border-radius: 5rem;
  background-color: rgb(255, 43, 110);
  color: white;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  align-items: center;
}

li.petList button {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  height: 3rem;
}

// button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0.5rem;
//   color: white;
//   background-color: rgb(255, 120, 163);
//   border-radius: 1rem;
//   height: 3rem;

//   border: 0;
// }

button:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  p {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.engraving {
  background-color: rgb(152, 152, 152);
  border-radius: 1rem;
  border: 1px solid grey;
  padding: 1rem;
  margin: 2rem;
}

article.graveyardPlot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: green;
  margin: 0rem;
  padding: 0rem;
}

label {
  color: white;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
  // margin: 0.5rem;
  margin: 0rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 169, 152);
  // 74 185 168
  font-weight: 600;
}
form {
  margin: 0.25rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

// label.filterByName {
//   margin: 0rem;
// }

// form.filterByName {
//   margin: 0rem;
// }

input {
  margin: 0.5rem 0rem;
  padding: 0.125rem;
  max-height: 1rem;
}
.dropdown {
  display: flex;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  margin-top: 1rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  min-width: 18rem;
  //
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2.petPage:hover {
  border-top: 10px solid rgb(0, 169, 152);
  border-bottom: 10px solid rgb(0, 169, 152);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0%;
  margin: 0rem 0.5rem;
}

ul.petList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

ul.petPage {
  margin: 2rem 0.5rem 3rem 0.5rem;
  // max-width: 10rem;
  min-width: min-content;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border: 10rem solid rgb(0, 169, 152);
  border-width: 2rem;
  background-color: white;
  padding: 1rem;
}

img {
  border-radius: 1rem;
  transform: scale(0.85, 0.85);
  border: 5px solid white;
  margin: 0%;
  padding: 0;
}

ul.graveyardPlot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.headStone {
  margin: 1rem 0.75rem;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  line-height: 2rem;
  border: 5px solid grey;
  width: 20rem;
  height: 20rem;
  background-color: darkgrey;
  min-height: 15rem;
  padding: 2rem;
}

.petPage li {
  display: flex;
  flex-direction: column;
  // border-radius: 5rem;
  // background-color: rgb(255, 43, 110);
  // color: white;
  padding-bottom: 1rem;
  border: 0;
  margin: 0.5rem;
  p {
    padding: 0rem;
    border: 0;
    margin: 0.5rem;
  }
}

li.interactions {
  display: flex;
  background-color: rgb(0, 169, 152);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 4rem;
  padding: 1rem;
  margin: 1rem 0rem 2.5rem 0rem;
}

li.rename {
  // margin-top: 10rem;
  // padding: 10rem;
}
li.delete {
  // margin-bottom: 0rem;
  padding: 0rem;
}
button.petPageToHome {
  width: 100vw;
  margin-bottom: 0rem;
  border-radius: 0%;
}
button.petPage:hover {
  transform: scale(1.25, 1.25);
}
// .petPage li {
//   margin: 1.5rem;
//   padding: 0rem;
//   //   margin: 1.5rem 2.5rem 1rem 2.5rem;
//   //   padding: 1.5rem 2.5rem 1rem 2.5rem;
// }
// background-color: rgb(74, 185, 168, 255); teal
// background-color: rgb(24, 127, 196, 255 ); blue
// background-color: rgb(235, 80, 129, 255); pink
// background-color: rgb(132, 91, 165, 255 purple)

@media all and (min-width: 700px) {
  ul.petPage {
    width: 47.5vw;
  }
}
