* {
  margin: 0.5rem;
  padding: 0.25rem;
  text-align: center;
}
:root {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  margin: 0rem;
  padding: 0rem;
}

html {
  height: 100%;
  margin: 0rem;
  padding: 0rem;
}

footer {
}

body {
  margin: 0;
  min-height: 100%;
  margin: 0rem;
  padding: 0rem;
}

h2 {
  text-align: center;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0.5rem;
  margin: 0rem;
  margin-bottom: 2rem;
}

.graveyard {
  margin-bottom: 1rem;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

p {
  margin: 1rem;
  text-align: center;
}

form {
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

button {
  margin: 0.25rem;
  font-family: 'Press Start 2P', cursive;
  // font-size: 14px;
}

a {
  color: black;
  text-decoration: none;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0%;
  margin: 0%;
}

.navBar {
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style: none;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.filler {
  // display: flex;
  // flex-grow: 5;
  height: 2rem;
}

.dropdown {
  // width: 10rem;
  // color: rgb(0, 104, 5);
  // height: 1rem;
  border: 3.5px solid;
  padding: 0.25rem;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  // border-right-color: rgb(133, 133, 133);
  // border-bottom-color: rgb(133, 133, 133);
  // border-left-color: white;
  // border-top-color: white;
  // background-color: rgb(201, 201, 201);
  // text-align: center;
  font-size: 1rem;
  min-width: 8.5rem;
}

section {
  text-align: center;
  // background-color: ;
}

.dropdown-content {
  display: none;
  // position: absolute;
  // right: 50%;
  margin: 0px;
  // background-color: rgb(201, 201, 201);
  min-width: 5rem;
  // width: fit-content;
  // box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  padding: 1px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  // use media query so sort options display on touch devices,
  // hover only works with cursor
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// color: rgb(74, 185, 168, 255 teal)
// color: rgb(24, 127, 196, 255 blue)
// color: rgb(235, 80, 129, 255 pink)
// color: rgb(132, 91, 165, 255 purple)

input {
  // min-width: 12rem;
}

a:hover {
  color: rgb(74, 185, 168, 255);
}
